<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About This App</h1>
  <p>
This app was built as an exercise in learning how to use Ruby on Rails, HTML, CSS, and the Bootstrap framework. This app is a simple way for anyone to share the laugh out loud moments inspired by the little ones. Share your kids' funny quotes too, <%= link_to 'contribute here', new_quote_path %>.
</p>

<div class="container-fluid" style="padding: 20px 0px">
<div class= "col-xs-4">
	<%= image_tag 'jaisa.jpg', :class => 'img-responsive round' %>
	</div>
<div class= "col-xs-4">
	<%= image_tag 'camden.jpg', :class => 'img-responsive round' %>
</div>
<div class= "col-xs-4">
	<%= image_tag 'rilynn.jpg', :class => 'img-responsive round' %>
</div>
</div>

<p>The content was inspired by Jaisa, Camden and Rilynn and the crazy things they say. Kids make the best comedians. 
</p>
  
<br />
<br />
<br />
</div>